@font-face {
    font-family: 'Gondola';
    src: url('GondolaSD.ttf');
}

body{
	margin: 0;
	background-color: black;
	color: #dcd3b6;
	font-family: Georgia, Verdana, sans-serif;
}


h1{
	font-family: Gondola, cursive;
	font-size: 48px;
	text-align: center;
	margin: 0;
}

h3{
	font-family: Gondola, cursive;
	font-size: 44px;
}


a{
	text-decoration: none;
	color: #c09c59;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Verdana, sans-serif;
}

a:hover{
	transition: 0.5s;
	color: #f1e6d0;
	
}

header, nav{
	margin-top: 0;
	width: 100%;
	margin: auto;
	background-color: #404040;
}


nav ul{
	display: flex;
	justify-content: space-between;
	list-style-type: none; 
	margin: 0;
	background-color: black;
}

nav ul li{
	margin-right: 20px;
}

.style-one {
margin: auto;
 border: 0;
height: 1px;
background-image: -webkit-linear-gradient(left, #f6f4ee, #c2b189, #f6f4ee);

}

#chapitres{
	margin: auto;
}



#postsContent{
	width: 75%;
	margin: auto;
}


#footband{
	display: flex;
	justify-content: space-between;
}



	

#post, #actualAbstract{
	
	
	width: 33em;
	margin: auto;
	font-size: 21px;
	line-height: 1.5;
}

#post::first-letter{
	font-size: 5em;
	font-family: 'Gondola', serif;
	float: left;
}

#post{
	margin-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #d3c7aa;
}

#editeur{
    width: 500px; 
    height: 200px; 
    border: 1px solid black;
    padding: 5px;
    overflow: auto; 
}

.infoMessage, #messageFlash{
	width: 16%;
	height: auto;
	background-color: #dcd3b6;
	color: #121212;
	text-align: center;
	font-family: Verdana, sans-serif;
	font-size: 18px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
}



#postContent .infoMessage{
	display: none;
}
#messageFlash{
	font-weight: bold;
	
}

/* ******************************* MINIATURES POST ***************************************** */



#nextAbstract, #previousAbstract, #actualAbstract{
	width: 33%;
	text-align: center;
}


#listPostsAdmin{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
	width: 60%;
	margin: auto;
	padding: 30px;
}



#accueil{
	padding: 30px;
	margin: auto;
	text-align: center;
	margin-top: 30px;
}

.abstract{
	margin: auto;
	text-align: justify;
	border-bottom: 1px solid #c2b189;
	width: 25%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	padding: 10px;
	margin-bottom: 30px;
	height: 300px;
}

.abstract a{

}

#index{
	position: absolute;
	left: 10%;
}

#pages{
	position: fixed;
	bottom: 40px;
	color: #c2b189;
	font-family: verdana, sans-serif;
	margin-left: 5px;
}



#newPost{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
	padding: 50px;
}

#content{
	height: 600px;
}

#resume{
	height: 150px;
}
.sendPost{
	width: 100px;
	margin: auto;
}




::-webkit-scrollbar{
	width: 14px;
	height: 14px;
	background-color: #dcd3b6;
	-webkit-border-radius: 5px;
}


::-webkit-scrollbar-thumb {
    background: #404040; 
	-webkit-border-radius: 5px;
	
}

.presAdmin{
	display: flex;
	flex-direction: column;
}


#contenu{
	width: 500px;
	height: 50px;
}

.billets{
	width: 500px;
	border: 1px solid red;
	height: 200px;
	padding: 10px;
	font-size: 18px;
	overflow: auto;
	text-align: justify;
	color: white;
}

h2{
	text-align: center;

}

.sous_billet{
	position: fixed;

}

#chapitre_complet{
		color: #dcd3b6;
}

.autour_contenu{
	position: fixed;
}

#lienAdmin{
	margin-top: 30px;
	padding: 10px;
}

#commentaires{ /* Section contenant tous les commentaires */
	background-color: #dcd3b6;
	color: #121212;
	font-family: Verdana;
	padding: 10px;
	width: 100%;
}

#commentaires p{
	text-align: justify;
}

.lienSignal{
	position: absolute;
	right: 10%;

} 

#formCommentaire{
	text-align: center;
	margin: auto;
	background-color:  #dcd3b6;
	width: 50%;
	padding: 5px;
	color: #121212;
}

.commentaire{ /* Chaque commentaire, individuellement */
	padding: 5px;
	border-bottom: 2px solid #dcd3b6;
	display: flex;
}

.contenuCommentaire{
	width: 50%;
	margin: 5px;
	padding: 5px;

}
.auteur{
	font-weight: bold;
}

.moderation{
	color: red;
}


.descriptifCommentaire{
	width: 180px;
	text-shadow: 1px 1px 1px black;
	margin: 5px;
	padding: 5px;
	border-right: 1px solid grey;
	
}

.descriptifCommentaire p{
	display: flex;
	align-items: space-around;
	flex-direction: column;

}




#formLogin{
	margin: auto;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #dcd3b6;
	padding: 10px;
	color: #121212;
	margin-top: 20px;
}

/* - - - - - - - - - - - - - - Barre de connexion - - - - - - - - - - - - - - - */


footer{
	position: fixed;
	bottom: 0;
	background-color: #404040;
	color: white;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

footer a{
	color: white;
	text-decoration: none;
	padding: 5px;
	margin-right: 10px;
}



/* - - - - - - - - - - - - - - Portail d'administration - - - - - - - - - - - - - - - */

li{
	padding: 5px;
}

.reportedComment{
	border: 1px solid white;
}

@media screen and (max-width: 1100px)
{
.infoMessage{
	display: none;
}


#index{
	position: static;
}
}
