@font-face {
    font-family: 'Gondola';
    src: url('GondolaSD.ttf');
}

body {
    margin: 0;
    font-family: Georgia,Verdana,sans-serif;
    color: #dcd3b6;
    background-color: black;
}

h1, h2, h3 {
    text-align: center;
}


h1 {
    margin: 0;
    font-family: Gondola,cursive;
    font-size: 48px;
}


h3 {
    font-family: Gondola,cursive;
    font-size: 44px;
}

h4 {
    font-weight: bold;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana,sans-serif;
    font-weight: bold;
    color: #c09c59;
}

a:hover {
    color: #f1e6d0;
    transition: 0.5s;
}


header,
nav {
    width: 100%;
    margin: auto;
    margin-top: 0;
    background-color: #404040;
}


nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
    background-color: black;
}

nav ul li {
    margin-right: 20px;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    -webkit-border-radius: 5px;
    background-color: #dcd3b6;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    background: #404040;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: flex-end;
    width: 100%;
    color: white;
    background-color: #404040;
}

footer a {
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    color: white;
}


li {
    padding: 5px;
}

/* ----------------------------------- TEMPLATE ---------------------------------- */

#messageFlash {
    font-weight: bold;
}


.style-one {
    height: 1px;
    margin: auto;
    border: 0;
    background-image: -webkit-linear-gradient(left, #f6f4ee, #c2b189, #f6f4ee);
}

.infoMessage,
#messageFlash {
    width: 16%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    font-family: Verdana,sans-serif;
    font-size: 18px;
    color: #121212;
    background-color: #dcd3b6;
}


/* ----------------------------------- PAGE INDEX ---------------------------------- */


#chapters {
    margin: auto;
}


#pages {
    position: fixed;
    bottom: 40px;
    margin-left: 5px;
    font-family: verdana,sans-serif;
    color: #c2b189;
}

.abstract {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 300px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    padding: 10px;
    border-bottom: 1px solid #c2b189;
    overflow: auto;
    text-align: justify;
}





/* ----------------------------------- PAGE POST COMPLET ---------------------------------- */

#postContent {
    width: 75%;
    margin: auto;
}

#post {
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #d3c7aa;
}

#post::first-letter {
    float: left;
    font-family: 'Gondola',serif;
    font-size: 5em;
}

#post,
#actualAbstract {
    width: 33em;
    margin: auto;
    font-size: 21px;
    line-height: 1.5;
}

#footband {
    display: flex;
    justify-content: space-between;
}


#nextAbstract,
#previousAbstract {
    width: 33%;
    text-align: center;
}

#nextAbstract {
    margin-right: 10px;
}

#previousAbstract {
    margin-left: 10px;
}

.separation {
    clear: both;
    position: absolute;
    width: 1px;
    height: 10em;
    margin: 5px;
    background: #c09c59;
}

/* ----------------------------------- SECTION COMMENTAIRES ---------------------------------- */

#formCommentaire {
    width: 50%;
    margin: auto;
    padding: 5px;
    text-align: center;
    color: #121212;
    background-color: #dcd3b6;
}

.commentDescription {
    width: 180px;
    margin: 5px;
    padding: 5px;
    border-right: 1px solid grey;
    text-shadow: 1px 1px 1px black;
}

.commentaire {
    display: flex;
    padding: 5px;
    border-bottom: 2px solid #dcd3b6;
}

.reportLink {
    position: absolute;
    right: 10%;
}

.commentContent {
    width: 50%;
    margin: 5px;
    padding: 5px;
}


.commentDescription p {
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.auteur {
    font-weight: bold;
}
/* ----------------------------------- PAGE LOGIN ---------------------------------- */


#formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    color: #121212;
    background-color: #dcd3b6;
}





/* ----------------------------------- PORTAIL ADMINISTRATION ---------------------------------- */

#listPostsAdmin {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    width: 60%;
    margin: auto;
    padding: 30px;
}


/* ----------------------------------- MODERATION COMMENTAIRES ---------------------------------- */

.reportedComment {
    border: 1px solid white;
}

#comments {
    width: 100%;
    padding: 10px;
    font-family: Verdana;
    color: #121212;
    background-color: #dcd3b6;
}

#comments p {
    text-align: justify;
}

#commentContent {
    width: 500px;
    height: 50px;
}



/* ----------------------------------- GESTION DE BILLET ---------------------------------- */


#newPost {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 50px;
}

.sendPost {
    width: 100px;
    margin: auto;
}

/* ----------------------------------- MEDIA QUERIES ---------------------------------- */

@media screen and (max-width:1100px) {
    .infoMessage {
        display: none;
    }

    #index {
        position: static;
    }
	
	.abstract{
		width: 50%;
	}
}